/* styles.css */
* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, p {
  margin: 0.5em 0;
  color: #223345;
}

button {
  background-color: #007bff;
  color: white;
  border-radius: 20px;
  padding: 0.5em 1em;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.button-group {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

input, textarea {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  display: block;
  margin-top: 1em;
}

/* EventForm Styles */
form {
  background-color: #f9f9f9;
  max-width: 600px;
  margin: 2em auto;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
}

/* EventDetail Styles */
.event-detail {
  text-align: center;
  padding-top: 40px;
}

.event-detail h2,
.event-detail p {
  margin: 1em 0;
}

.event-buttons {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.event-detail {
  font-family: Arial, sans-serif;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}


/* EventList Styles */
.event-list {
  max-width: 600px;
  margin: 2em auto;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.event-list li {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.button-list {
  display: flex;
  justify-content: space-between;
  background-color: #EAF1F5;
  width: 80%;
}


.button-list:hover {
  background-color: #aaacadda;
}
button.button-list {
  color: #3B4A5A;
}

/* Layout Styles */

.nav-bar {
  text-align: center;
}

nav {
  background-color: #292F42;
  padding: 25px 5px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}

nav ul li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #ECECED;
}

nav span {
  color: #dbe0e4f0;
}

nav a:hover {
  color: #aaacadda;
}

.icon-signup-profil {
  display: flex;
}

.icon-signup-profil li a {
  position:absolute;
  right: 20px;
}

.icon-signup-profil span {
  position:absolute;
  right: 60px;
}

main {
  padding: 1em;
}

/* NoPage Styles */
.no-page {
  text-align: center;
  margin-top: 2em;
}
