/* src/pages/Home.css */
.home-main {
  background-image: url('../img/event1.jpeg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .event-button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(93, 115, 156, 0.491);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .event-button:hover {
    background-color: rgba(93, 115, 156, 0.664);
  }
  